$PColor: #0AABFF;

nav {
    background-color: $PColor !important;
}

main {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.carousel.carousel-slider {
    grid-column: 3/8 !important;
}