$PColor: #0AABFF;

nav {
    background-color: $PColor !important;
}

main {
    grid-template-columns: repeat(12, 1fr);
    display: grid !important;
}

.carousel.carousel-slider {
    margin: 5px 0 0 0;
    grid-column: 4/10 !important;
}

.brand-logo {
    margin: 5px 0 0 5px !important;
}